# Data Cleaning & Feature Engineering

In [1]:
import pandas as pd
import numpy as np

## Load Raw Data

In [2]:
df=pd.read_csv('../data/raw/health_population_raw.csv')
df.head()

,country,year,life_expectancy,mortality_rate,health_expenditure_pct_gdp,population
0,United States,2000,66.88,19.08,9.98,202640806
1,United States,2001,67.07,18.94,10.01,204211489
2,United States,2002,67.23,18.93,9.97,207106757
3,United States,2003,67.35,18.78,9.99,209280431
4,United States,2004,67.58,18.60,10.04,212186545

## Overview

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   country                     240 non-null    object
 1   year                        240 non-null    int64
 2   life_expectancy             240 non-null    float64
 3   mortality_rate              240 non-null    float64
 4   health_expenditure_pct_gdp  240 non-null    float64
 5   population                  240 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 11.4+ KB

## Handle Missing Values

In [4]:
df=df.fillna(method='ffill')

C:\Users\S\AppData\Local\Temp\ipykernel_3464\1718901248.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df=df.fillna(method='ffill')

## Convert Year

In [5]:
df['year']=pd.to_datetime(df['year'],format='%Y')

## Rolling Averages

In [6]:

df['life_expectancy_3yr_avg']=(
 df.groupby('country')['life_expectancy']
 .rolling(3,1).mean()
 .reset_index(level=0,drop=True)
)
df['mortality_rate_3yr_avg']=(
 df.groupby('country')['mortality_rate']
 .rolling(3,1).mean()
 .reset_index(level=0,drop=True)
)

## Save Clean Data

In [7]:
df.to_csv('../data/cleaned/health_population_cleaned.csv',index=False)